<% task_expect, resource_expect = eval_risk_expect(@project.creatives) %>
<%#= task_value =eval_task_risk_value(@project.creatives) %>
<%#= resource_value =eval_resource_risk_value(@project.creatives) %>

<h1>
    <span>
        <%= link_to @project.name, project_creatives_path(@project), {class: "header__link eval__link"}%>
    </span>
</h1>
<h1>
    <span>
        <% if task_expect.finite?  %>
            <span>タスク調整力：<%= task_expect.round %> / 50 </span>
        <% else %>
            <%= 0 %>
        <% end %>
    </span>
</h1>
<h1>
    <span>
        <% if resource_expect.finite? %>
            <span>リソース調整力：<%= resource_expect.round %> / 50 </span>
        <% end %>
    </span>
</h1>
<h1>
    <span>
        <% if resource_expect.finite? and task_expect.finite?%>
            <span>プロジェクト評価：<%= task_expect.round + resource_expect.round %> / 100</span>
        <% end %>
    </span>
</h1>

<br>

<div class="project">
    <div class="eval_list"> 
        <h3 class="creative__header">
            <span class="c_name">columns \ creatives</span>
        </h3>      
    <div class="values">
        <table>
            <tr>
                <th>総タスク量</th>
            </tr>
            <tr>                    
                <th>総タスク数</th>                    
            </tr>
            <tr>                    
                <th>タスク時間:平均</th>
            </tr>
            <tr>          
                <th>超過タスク予測値</th>
            </tr>
        </table>
    </div>
    
    
    </div>
    <% @project.creatives.each do |creative| %>
    <div class="eval_list">
        <h3 class="creative__header">
            <span class="c_name"><%= creative.name %></span>
        </h3>            
        <div class="values">
            <% tasks_arr = creative.tasks.map{|task| task.complete}%>
            
            <table>
                <tr>                    
                    <% sum = tasks_arr.sum %>
                    <td><%= min2hour(sum).round(1) %> hour</td>
                </tr>
                <tr>                    
                
                    <td><%= len = tasks_arr.length%></td>
                </tr>
                <tr>                    
                    <% mean = sum.fdiv(len) %>
                    <td><%= min2hour(mean).round(1) %> hour</td>
                </tr>
                <% std = std(tasks_arr) %>                    
                <tr>
                    <td><%= min2hour((mean / std) * mean + over_task_pred(std)).round(1) %> hour</td>
                </tr>
            </table>
        </div>
        <br>
        <%# <h2>コメント</h2> %>
    </div>
    <% end %>
</div>

<%#= image_tag("scare.png", class: "img__sample")%>
<%#= image_tag("zawa.jpeg", class: "img__sample")%>

